.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.container__elem {
  opacity: 0;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.mybutton {
  height: 40px;
  width: 80px;
  margin-top: 30px;
}
.display {
  opacity: 100;
}